<form [formGroup]="editForm">
  <div class="content-control">
    <label for="name">Название: </label>
    <input
        pInputText
        id="name"
        formControlName="name" />
  </div>

  <div class="content-control">
    <label for="author">Автор: </label>
    <p-listbox
      [options]="authors"
      formControlName="author"
      optionLabel="author"
      optionValue="author"
      [style]="{ width: '15rem' }"
      [listStyle]="{'max-height': '220px'}">
      <ng-template let-book pTemplate="item">
        <div>{{book.author}}</div>
      </ng-template>
    </p-listbox>
  </div>

  <div class="content-control">
    <label for="pageCount">Число страниц: </label>
    <input
        pInputText
        id="pageCount"
        formControlName="pageCount" />
  </div>

  <div class="content-control">
    <label for="language">Язык: </label>
    <input
        pInputText
        id="language"
        formControlName="language" />
  </div>

  <div class="content-control">
    <label for="genre">Жанр: </label>
    <input
        pInputText
        id="genre"
        formControlName="genre" />
  </div>
</form>
<div class="footer">
  <button
      pButton pRipple
      (click)="save()"
      label="Сохранить"
      class="p-button-success">
  </button>
  <button
      pButton pRipple
      (click)="close()"
      label="Отменить">
  </button>
</div>
